.addRow {
    width: 60%;
}
label {
    font-size: 12px;
    margin: 0 7px;

}

input[type=text] {
    padding: 5px 5px;
    margin: 5px 5px 20px 5px;
    display: inline-block;
    border: 1px solid rgb(19, 18, 18);
    border-radius: 4px;
    /* box-sizing: border-box; */
    width: 150px;
    height: 10px;
}

.add-inputs {
    display: flex;
    flex-direction: row;
}

.add-input-button {
    margin-top: 24px;
    margin-left: 5px; 
}

